.card {
  position: relative;
  width: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform .7s;

  &__font {
    margin-bottom: 15px;
    backface-visibility: hidden;


    img {
      display: block;
      width: 100%;
    }

  }

  &__back {
    backface-visibility: hidden;
    background-color: #1E252B;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: rotateY(180deg);
    padding: 55px 15px 44px;
  }

  &__content {
    font-size: 14px;
    line-height: 18px;
    font-family: $oswald-regular, sans-serif;
    letter-spacing: 2px;
    color: $white;
    overflow: auto;
  }

  &__favorites{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    svg {
      pointer-events: none;
    }
  }

  &:hover {
    transform: rotateY(-180deg);

  }
}