.card {
  position: relative;
  perspective: 600px;
  text-align: center;
  margin-bottom: 15px;



  &__front,
  &__back {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }
  }

  &__back {
    background-color: #1E252B;
    transform: rotateY(180deg);

     padding: 55px 15px 44px;
    overflow: hidden;
    height: 100%;
  }

  &__front {
    position: static;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
  }

  &__content {
    font-size: 14px;
    line-height: 18px;
    font-family: $oswald-regular, sans-serif;
    letter-spacing: 2px;
    color: $white;
    height: 100%;
  }

  &__favorites {
    position: absolute;
    top: 20px;
    right: 20px;
    path,
    svg {
      pointer-events: none;
      width: 35px;
      height: 35px;
      path{
        fill: $white;
      }
    }
    &.active{
      path{
        fill: $yellow ;
      }
    }

  }

  &:hover {
    .card {
      &__front {
        transform: rotateY(180deg);
      }
      &__back {
        transform: rotateY(360deg);
      }
    }
  }
}