@font-face {
  font-family: 'Oswald Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Oswald/Oswald-Bold.woff) format('woff'), url(../fonts/Oswald/Oswald-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'Oswald Medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Oswald/Oswald-Medium.woff) format('woff'), url(../fonts/Oswald/Oswald-Medium.ttf) format('ttf');
}

@font-face {
  font-family: 'Oswald Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Oswald/Oswald-Regular.woff2) format('woff2'), url(../fonts/Oswald/Oswald-Regular.woff) format('woff'), url(../fonts/Oswald/Oswald-Regular.ttf) format('ttf');
}