//colors
$white: #fff;
$dark-gray: #1E252B;
//fonts
$oswald-regular: 'Oswald Regular';
$oswald-medium: 'Oswald Medium';
$oswald-bold: 'Oswald Bold';
$sans-serif: sans-serif;
//bp
$desktop-bp: 1200px;
$tablet-bp: 1024px;
$mobile-bp: 768px;